node_modules
/build
.DS_Store
website/templates/website/liveReloadConf.html
venv
*.log
*.db
*.pyc
*.zip
*.sqlite3
*.rdb
.coverage
local_settings.py
static/
libs/
node_modules
.cache
coverage
media/

backup/
backup_markino/

# Deploy settings

deploy_settings.sh
*.pid


client_secret.json
