node_modules
/build
.DS_Store
website/templates/website/liveReloadConf.html
venv
*.log
*.db
*.pyc
*.zip
*.sqlite3
*.rdb
.coverage
markino/local_settings.py
static/
libs/
node_modules
.cache
coverage
media/

backups/
backup_markino/
backup_copy
# Deploy settings

deploy_settings.sh
*.pid

docker/production/envs
postgres-data/
